body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.5s, color 0.5s;
}

dark-theme {
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

div {
    margin: 20px;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
}